<!-- home.html -->
<div ng-controller="HomeController">
  <h1>{{ message }}</h1>
  <!-- Search bar -->
  <input
    class="my-3"
    type="text"
    ng-model="searchKeyword"
    placeholder="Search..."
    ng-change="search(searchKeyword)"
  />

  <!-- Product list -->
  <div class="d-none" ng-repeat="product in filteredProducts || products">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <button ng-click="goToProductDetail(product.id)">View Details</button>
    <hr />
  </div>

  <!-- Sort options -->
  <div ng-if="currentPage === 1">
    <h1>Hello world</h1>
  </div>

  <div>
    <label>Sort by:</label>
    <select ng-model="sortType" ng-change="updatePagination()">
      <option value="name">Name</option>
      <option value="price">Price</option>
      <!-- Add more options for other sorting criteria if needed -->
    </select>
    <button ng-click="reverseSort()">Toggle Order</button>
  </div>

  <!-- Product list -->
  <div ng-repeat="product in paginatedProducts">
    <h3>{{ product.name }}</h3>
    <p>{{ product.description }}</p>
    <p>Price: {{ product.price }}</p>
    <button ng-click="goToProductDetail(product.id)">View Details</button>
    <hr />
  </div>

  <!-- Pagination controls -->
  <ul class="pagination">
    <li ng-repeat="page in pages" ng-class="{active: currentPage === page}">
      <a href="" ng-click="setPage(page)">{{ page }}</a>
    </li>
  </ul>
</div>
